<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="extensions1" value=".jpg" />
    <add key="extensions2" value=".png"/>
    <add key="extensions3" value=".gif"/>
    <add key="extensions4" value=".JPEG"/> 
  </appSettings>
</configuration>